<mat-toolbar class="toolbar">
  <button style="background-color: purple;" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-list-item role="listitem">
        <a  [routerLink]="['/users/create']">Add Medicine</a>
    </mat-list-item>
    </button>
    <button mat-menu-item>
      <mat-list-item role="listitem">
        <a class="action-link" [routerLink]="['/users/list']" >Display Medicine History per Day</a>
    </mat-list-item>
    </button>
  </mat-menu>

  <span style="margin-left: 10px;;" class="title">MENU</span>
  <span class="example-spacer"></span>
</mat-toolbar>