<mat-card>
  <mat-card-content>
    <form [formGroup]="addUserForm" enctype="multipart/form-data" (submit)="createUser()">
      <mat-card-title>
        Patient Details
      </mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="80px">
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="fullName" formControlName="fullName" required="true">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="phone" formControlName="phone" required="true">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Infirmity Occured</mat-label>
                <input matInput placeholder="disease" formControlName="disease" required="true">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Patient's Email</mat-label>
                <input matInput placeholder="email" formControlName="email">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <br>
      <mat-card-title>
        <div style="text-align: right;">
          <button mat-raised-button type="button" color="primary" (click)="AddMoreDoctor()">Add
            More
            Doctor</button>
        </div>
        Doctors Details
      </mat-card-title>

      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="80px">
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Doctors Name</mat-label>
                <input matInput placeholder="doctorsName" formControlName="doctorsName" required="true">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Doctor Specialist</mat-label>
                <input matInput placeholder="doctorSpecialist" formControlName="doctorSpecialist" required="true">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Next Checkup Date</mat-label>
                <input matInput type="date" placeholder="checkupDate" formControlName="checkupDate" required="true">
                <mat-hint>MM/DD/YYYY</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <br><br>
      <mat-card-title>
        <div style="text-align: right;">
          <button mat-raised-button type="button" color="primary" (click)="AddMoreMedicine()">Add
            More
            Medicine</button>
        </div>
        Medicine Details
      </mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="4" rowHeight="80px">
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Medicine Name</mat-label>
                <input matInput placeholder="medicineName" formControlName="medicineName" required="true">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <!-- -->
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Doctors Name</mat-label>
                <select matNativeControl  formControlName="doctorName" (click)="doctorsList()" required="true">
                  <option value="" selected></option>
                  <option *ngFor="let name of docName" [value]="name">
                    {{name}}
                  </option>
                </select>
                <!-- <input matInput placeholder="doctorName" formControlName="doctorName" required="true"> -->
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Medicine Duration</mat-label>
                <input matInput placeholder="duration" formControlName="duration" required="true">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Medicine Bought</mat-label>
                <input matInput placeholder="quantity" formControlName="quantity" required="true">
                <mat-hint>Quantity</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Medicine Intake Type</mat-label>
                <mat-select formControlName="medicineType" (selectionChange)="selectChangeHandler(event)" #event>
                  <mat-option value="0">Select Customized Time</mat-option>
                  <mat-option value="2">BDAC</mat-option>
                  <mat-option value="2">BDPC</mat-option>
                  <mat-option value="1">ODPC</mat-option>
                  <mat-option value="3">TDPC</mat-option>

                </mat-select>
              </mat-form-field>
            </div>

          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Medicine InTake/Day</mat-label>
                <input matInput placeholder="frequency" formControlName="frequency" readonly>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Medicine InTake Time/Day</mat-label>
                <input matInput [ngxTimepicker]="picker1" placeholder="time1" formControlName="time1" #passTime>
                <ngx-material-timepicker #picker1>time</ngx-material-timepicker>
                <mat-hint>Click to add more time</mat-hint>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="text-align: right;">
              <button mat-raised-button type="button" color="primary" (click)="AddTime(passTime.value)">Add Time to
                List</button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <!-- <mat-grid-list cols="5" rowHeight="80px" *ngFor="let row of medicineArr">
                  <mat-grid-tile>
                    <div>
                      <input type="text" disabled value="{{row.medicineName}}">
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>
                      <input type="text" disabled value="{{row.duration}}">
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>
                      <input type="text" disabled value="{{row.medicineType}}">
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>
                      <input type="text" disabled value="{{row.frequency}}">
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>
                      <input type="text" disabled value="{{row.time1}}">
                    </div>
                  </mat-grid-tile>
                </mat-grid-list> -->
      </mat-card-content>
      <br><br>
      <!-- <mat-card-title>
              <div style="text-align: right;">
                <button mat-raised-button type="button" color="primary" (click)="AddMoreReport()">Add More
                  Report</button>
              </div>
              Report Details
            </mat-card-title> -->

      <!-- <mat-card-content>
                <mat-grid-list cols="4" rowHeight="80px">
                  <mat-grid-tile>
                    <div >
                      <mat-form-field appearance="fill">
                        <mat-label>Report Name</mat-label>
                        <input matInput placeholder="reportName" formControlName="reportName" required="true">
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </div>
        
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>
                      <mat-form-field appearance="fill">
                        <mat-label>Report Scheduled Date</mat-label>
                        <input matInput type="date" placeholder="reportDate" formControlName="reportDate" required="true">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <div>
                      <mat-form-field appearance="fill">
                        <mat-label>Report Details</mat-label>
                        <textarea matInput placeholder="reportDetails" formControlName="reportDetails" required="true"
                          (keyup)="keyUpEvent(reportDetails)" #reportDetails></textarea>
                        <mat-hint align="end">{{reportString || 0}}/100</mat-hint>
                      </mat-form-field>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <h4><b><u>Upload Report</u></b></h4>
                    <div>
                      <br><br>
                      <input type="file" multiple placeholder="imageUpload" formControlName="imageUpload" readonly>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>             -->
      <br><br>
      <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile>
          <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="!addUserForm.valid">Submit</button>
            <!-- <button mat-raised-button type="submit" color="primary" >Submit</button> -->
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>