<h1>Displaying Patient Medication History . </h1>

<mat-list role="list">
    <mat-card class="list-users" role="listitem">
        <mat-card-title>
            <h2 style="font-style: underline ;">Current Date</h2>
        </mat-card-title>
        <mat-card-content>
            {{currentDate}}
        </mat-card-content>
        <div style="text-align:right ;">
            <button mat-icon-button class="center">
                <mat-icon (click)="exportExcel()">table_view</mat-icon>
                <mat-icon>picture_as_excel</mat-icon>
            </button>
        </div>
        <mat-card role="listitem" >
            <mat-grid-list cols="5" rowHeight="80px">
                <table id="list-users-table">
                    <tr>
                        <mat-grid-tile>
                            <th>
                                <mat-card-title>
                                    <h2>Medicine Name</h2>
                                </mat-card-title>
                            </th>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <th>
                                <mat-card-title>
                                    <h2>Medicine Duration</h2>
                                </mat-card-title>
                            </th>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <th>
                                <mat-card-title>
                                    <h2>Medicine Intake/Day</h2>
                                </mat-card-title>
                            </th>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <th>
                                <mat-card-title>
                                    <h2>Medicine Intake Time/Day</h2>
                                </mat-card-title>
                            </th>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <th>
                                <mat-card-title>
                                    <h2>Please Select if taken.</h2>
                                </mat-card-title>
                            </th>
                        </mat-grid-tile>
                    </tr>
                    <tr *ngFor="let user of masterData">
                        <mat-grid-tile>
                            <td>
                                <mat-card-content>
                                    {{user.Medicine_Name}}
                                </mat-card-content>
                            </td>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <td>
                                <mat-card-content>
                                    {{user.Medicine_Duration}}
                                </mat-card-content>
                            </td>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <td>
                                <mat-card-content>
                                    {{user.Medicine_Intake_per_Day}}
                                </mat-card-content>
                            </td>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <td>
                                <mat-card-content>
                                    {{user.Medicine_Intake_Time_per_Day}}
                                </mat-card-content>
                            </td>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <td>
                                <mat-card-content>
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" #event (change)="addValue(user,event)">Select
                                        </mat-checkbox>
                                    </section>
                                </mat-card-content>
                            </td>
                        </mat-grid-tile>
                    </tr>
                </table>
            </mat-grid-list>
        </mat-card>
        <div style="text-align: center; padding-top:5%;">
            <button mat-raised-button type="button" [disabled]="!checked" color="primary" (click)="submit()" >Submit</button>
        </div>
    </mat-card>
</mat-list>
