<div *ngIf="dataLoaded">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="editUserForm" (submit)="updateUser()">
        <mat-card-title>
          Patient Details
        </mat-card-title>
        <mat-card-content >
          <mat-grid-list cols="2" rowHeight="80px">
            <mat-grid-tile>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Full Name</mat-label>
                  <input matInput placeholder="fullName" formControlName="fullName" required="true">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div >
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput placeholder="phone" formControlName="phone" required="true">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <!-- <mat-grid-tile>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Infirmity Occured</mat-label>
                  <input matInput placeholder="disease" formControlName="disease" required="true">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Patient's Email</mat-label>
                  <input matInput placeholder="email" formControlName="email" required="true">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile> -->
          </mat-grid-list>
        </mat-card-content>          
        <br>
        <!-- <mat-card-title>
          Doctors Details
        </mat-card-title>
      
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="80px">
            <mat-grid-tile>
              <div >
                <mat-form-field appearance="fill">
                  <mat-label>Doctors Name</mat-label>
                  <input matInput placeholder="doctorsName" formControlName="doctorsName" required="true">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div >
                <mat-form-field appearance="fill">
                  <mat-label>Doctor Specialist</mat-label>
                  <input matInput placeholder="doctorSpecialist" formControlName="doctorSpecialist" required="true">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div >
                <mat-form-field appearance="fill">
                  <mat-label>Next Checkup Date</mat-label>
                  <input matInput type="date" placeholder="checkupDate" formControlName="checkupDate" required="true">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content> -->
        
        <br><br>
        <br><br>
        <mat-card-title>
          <div style="text-align: right;">
            <button mat-raised-button type="button" color="primary" (click)="AddMoreReport()">Add More
              Report</button>
          </div>
          Report Details
        </mat-card-title>
        
        <mat-card-content>
          <mat-grid-list cols="4" rowHeight="80px" >
            <mat-grid-tile>
              <div >
                <!-- <mat-card-title>
                  <h3><mat-label>Report Name</mat-label></h3>
                </mat-card-title>
                <mat-card-content>
                  <input  type="text" value="{{row.Report_Name}}" formControlName="reportName" >
                </mat-card-content> -->
                <mat-form-field appearance="fill">
                  <mat-label>Report Name</mat-label>
                <input matInput placeholder="reportName" formControlName="reportName" >
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </div>
  
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Report Scheduled Date</mat-label>
                  <input matInput type="date" placeholder="reportDate" formControlName="reportDate" required="true">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Report Details</mat-label>
                  <textarea matInput placeholder="reportDetails" formControlName="reportDetails"
                    (keyup)="keyUpEvent(reportDetails)" #reportDetails></textarea>
                  <mat-hint align="end">{{reportString || 0}}/100</mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <h4><b><u>Upload Report</u></b></h4>
              <div>
                <br><br>
                <input type="file" multiple placeholder="imageUpload" formControlName="imageUpload" 
                  (change)="uploadFile($event) ">
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <!-- <mat-grid-list cols="4" rowHeight="80px" *ngFor="let row of reportArr">
            <mat-grid-tile>
              <div>
                <input type="text" disabled value="{{row.reportName}}">
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <input type="text" disabled value="{{row.reportDate}}">
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <input type="text" disabled value="{{row.reportDetails}}">
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div>
                <input type="text" disabled value="{{row.imageUpload}}">
              </div>
            </mat-grid-tile>
          </mat-grid-list> -->
        </mat-card-content>          
        <br><br>
        <mat-grid-list cols="1" rowHeight="70px">
          <mat-grid-tile>
            <div >
              <button mat-raised-button type="submit" color="primary" [disabled]="!editUserForm.valid">Submit</button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>   
</div>
