
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
    
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="Full_Name">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Full_Name}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="Disease">
      <th mat-header-cell *matHeaderCellDef> Infirmity Occured </th>
      <td mat-cell *matCellDef="let element"> {{element.Disease}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Doc_Name">
      <th mat-header-cell *matHeaderCellDef> Doctors Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Doc_Name}} </td>
    </ng-container>

    <ng-container matColumnDef="MedicineName">
        <th mat-header-cell *matHeaderCellDef> Medicine Name </th>
        <td mat-cell *matCellDef="let element"> {{element.MedicineName}} </td>
      </ng-container>

      <ng-container matColumnDef="MedicineDuration">
        <th mat-header-cell *matHeaderCellDef> Medicine Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.MedicineDuration}} </td>
      </ng-container>

      <ng-container matColumnDef="ReportName">
        <th mat-header-cell *matHeaderCellDef> Report Name </th>
        <td mat-cell *matCellDef="let element"> {{element.ReportName}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

<!-- <mat-list role="list">
   <mat-card class="list-users" role="listitem" *ngFor="let user of listUsers">
        <mat-card-title>
            {{user.name}}
        </mat-card-title>
        <mat-card-content>
            {{user.email}}
        </mat-card-content>
        <mat-card-actions>
            <a class="action-link" [routerLink]="['/users/view',user.id]">View</a> |<a class="action-link" [routerLink]="['/users/edit',user.id]">Edit</a> | <a class="action-link" [routerLink]="['/users/delete',user.id]">Delete</a>
        </mat-card-actions>
        
    </mat-card>
</mat-list> -->

<mat-list>
  <mat-card-title>
    <h3 class="header">Please Provide Patient phone Number</h3>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="addUserForm" (submit)="FindUser()">
      <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile class="body">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="PhoneNo" formControlName="PhoneNo" required="true">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="70px">
        <mat-grid-tile>
          <div>
            <button mat-raised-button type="submit" color="primary" [disabled]="!addUserForm.valid">Submit</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile class="body">
          <!-- <div>
            <mat-card-actions>
              <a class="action-link" [routerLink]="['/users/view',result.id]">View</a>
            </mat-card-actions>
          </div> -->
        </mat-grid-tile>
        <mat-list role="list">
          <mat-card class="list-users" role="listitem" *ngFor="let user of result">
            <mat-card-title>
              Patient Name - {{user.patient_details.Patients_name}}
            </mat-card-title>
            <mat-card-content>
              Patient Contact Number - {{user.patient_details.Patient_Phone_Number}}
            </mat-card-content>
            <mat-card-actions>
              <a class="action-link" [routerLink]="['/users/view',user._id]">View Medicine Details</a> |||<a class="action-link"
                [routerLink]="['/users/edit',user._id]">Add Patient Report</a> ||| <a class="action-link"
                [routerLink]="['/users/delete',user._id]">Delete Patient history</a>
            </mat-card-actions>
          </mat-card>
        </mat-list>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-list>

<mat-grid-tile class="body">

</mat-grid-tile>