<app-header></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>

