<u><h2>Remaining Patients in the database</h2></u>
<mat-grid-list cols="4" rowHeight="80px" *ngFor="let row of Finaldata">
    <mat-card-title>
        <h4>Patient Name - {{row.patient_details.Patients_name}}</h4>
      </mat-card-title>
      <mat-card-content>
        <h4>Patient Contact Number - {{row.patient_details.Patient_Phone_Number}}</h4>
      </mat-card-content>
      
</mat-grid-list>
<h2><a class="action-link" [routerLink]="['/']">Go to Home Page</a></h2>