/* You can add global styles to this file, and also import other style files */

html, body {width: 100% ; height: 100% ; overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
